footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.footer-col {
    font-size: 16px;
}

.footer-col p {
    margin: 0;
}

@media (max-width: 768px) {

    footer {
        padding: 20px;
    }

    .footer-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-col {
        margin-bottom: 20px;
    }

}
